---
layout: default
---

<article>
{% for post in site.posts limit:1 %}

<div class="center">
	<h1 class="title">{{ post.title }}</h1>
	<div class="divider"></div>
</div>
			<!--<span style="display:block; height: 8px;"></span>-->

			{{ post.content }}
<br>
			<div class="divider"></div>
		</article>


		<div class="page-navigation code">
			{% if post.next.url %}
		    <a class="next" style="float: left" href="{{ post.next.url | prepend: site.baseurl | prepend: site.url }}" title="Next entry {{post.next.title}}">Next entry </a>
		  {% endif %}
		  {% if post.previous.url %}
		     <a class="prev" style="float: right" href="{{ post.previous.url | prepend: site.baseurl | prepend: site.url }}" title="Previous entry {{post.previous.title}}">Previous entry </a>
		  {% endif %}
		</div>



<article>


{% if post.comments %}
	<div id="disqus_thread"></div>

	<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'eudemonis' ;
	 /* * * DON'T EDIT BELOW THIS LINE * * */
	 (function() {
		 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	 })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

</article>

	{% endfor %}
