---
layout: default
---

<article>
{% for post in site.posts limit:1 %}

		<!--{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}-->

		<!--<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%b %d" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>-->



			<div class="center">
				<h1 class="title">{{ post.title }}</h1>
				<time class="code">{{ post.date | date: '%B %-d, %Y' }}</time>
			</div>

			<div class="divider"></div>

				{{ post.content }}

<div class="divider"></div>
		</article>





		<div class="page-navigation code">
			{% if post.next.url %}
		    <a class="next" href="{{ post.next.url | prepend: site.baseurl | prepend: site.url }}" title="Next post {{post.next.title}}">&lt;&lt;</a>
				<span> &middot; </span>
		  {% endif %}
				<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Return Home">Index</a>
		  {% if post.previous.url %}
				<span> &middot; </span>
		    <a class="prev" href="{{ post.previous.url | prepend: site.baseurl | prepend: site.url }}" title="Previous post {{post.previous.title}}">&gt;&gt;</a>
		  {% endif %}
		</div>



<article>

	<div id="disqus_thread"></div>

	<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'eudemonis' ;
	 /* * * DON'T EDIT BELOW THIS LINE * * */
	 (function() {
		 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	 })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</article>

	{% endfor %}
