{% if page.comments %}

<font face="Lato-Regular" style="font-size:0.8rem;"> To comment anonymous simply enter your name and tick <i>I'd rather post as a guest.</i></font>


<div id="disqus_thread"></div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'eudemonis' ;
 /* * * DON'T EDIT BELOW THIS LINE * * */
 (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}








<!--

<div class="comment">
<button class="show-comments"><i class="fa fa-comments" aria-hidden="true"> Load/Add comments</i></button>
<div id="disqus_thread"></div>
</div>
<script src={{ "/javascripts/jquery.min.js" | prepend: site.baseurl }}></script>
<script>
$(document).ready(function() {
    $('.show-comments').on('click', function(){
          var disqus_shortname = '{{site.disqus-shortname}}';
          $.ajax({
                  type: "GET",
                  url: "https://" + disqus_shortname + ".disqus.com/embed.js",
                  dataType: "script",
                  cache: true
          });
          $(this).fadeOut();
    });
});
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
