<div class="header">
<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Return Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.baseurl }}/images/Flowers.png" class="logo-avatar">
	</a> <span class="logo-prompt code">{{ prompt }}</span>
</aside>

<br>
<br>
<font face="merriweather" style="font-size:32px"> Eudemonis </font>
<p align="right"> What is <i>your </i> experience? </aside></p>
</div>
