<div class="header">
<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Return Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.baseurl }}/images/Flowers.png" class="logo-avatar">
	</a> <span class="logo-prompt code">{{ prompt }}</span>
</aside>

<br>
<br>
<font face="Merriweather" color="777" style="font-size:32px; font-weight:100"> Eudemonis </font>
<p align="right"> What do you think? </aside></p>
<br>

<small> A new platform which explores the vast galaxies and treacherous seabeds of that which is called human life. Eudmonis would like to invite you to share your opinions, experience and thoughts on different kinds of topics and ideas. 
<P>
<center><small>	<a class="home" href="{{ ""{{site.baseurl}}/post-index.html"" | prepend: site.baseurl | prepend: site.url }}" title="Entry archive">Archive</a>
</center></small></P>
</small>
</div>
